<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Message</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Hi, <%= data.from %></h1>
    <h3>Are you sure?</h3>
    <div class="button">
      <form method="post" action="/chats/<%= data._id %>?_method=DELETE">
        <button id="yes-button">Yes</button>
      </form>
      <form method="get" action="/chats">
        <button>No</button>
      </form>
    </div>
  </body>
</html>
