<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
  </head>
  <body>
    <h1>Create Chat</h1>
    <form method="post" action="/chats">
      <h5>From : <input type="text" placeholder="From" name="from" /></h5>
      <h5>To : <input type="text" placeholder="To" name="to" /></h5>
      <textarea
        name="msg"
        id=""
        cols="30"
        rows="5"
        placeholder="Message"
      ></textarea
      ><br />
      <button>Send</button>
    </form>
  </body>
</html>
