img{
    width: 100%;
    border-radius: 15px;
}

.card{
    display: inline-block;
    border: 2px solid black;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

h4{
    text-align: right;
    color: #3c787e;
}

h2 {
    color: #d56f3e;
}
  
span {
    color: #9d6f24;
}

@media (max-width: 400px) {
    #pets{
        flex-wrap: wrap;
    }
}