<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Content</title>
  </head>
  <body>
    <h1>Edit Content</h1>
    <h3>User name : @ <%= post.name %></h3>

    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
      <textarea name="desc" id="" cols="30" rows="10">
            <%= post.desc %></textarea
      >
      <button>Submit</button>
    </form>
  </body>
</html>
