<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
  </head>
  <body>
    <form method="post" action="/chats">
      <input type="text" placeholder="From" name="from" />
      <input type="text" placeholder="To" name="to" />
      <input type="text" placeholder="Message" name="msg" />
      <button>Send</button>
    </form>
  </body>
</html>
