<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Newuser</title>
  </head>
  <body>
    <h1>Welcome G</h1>
    <form method="post" action="/users">
      <input
        type="text"
        name="username"
        placeholder="Enter username"
        required
      /><br /><br />
      <input
        type="email"
        name="useremail"
        placeholder="Enter email"
        required
      /><br /><br />
      <input
        type="password"
        name="userpassword"
        placeholder="Enter password"
        required
      /><br /><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
